#mainContainer {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
}

#container {
  width: 1330px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  background: url("./images/background.jpg") no-repeat;
  background-size: cover;
  padding: 20px 25px 30px;
  box-sizing: border-box;
}

/* Add CSS here */